.sp-thongbao {
  color: red;
  margin-left: 2px; 
  /* display: none; */
}

#SapXepGiam{
	display: none;
}

#content{
	width: 100%;
	background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.myCardHeader, .myCardFooter{
	background-color: transparent;       
}


#tableDanhSach tr td:nth-child(8) {
	display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* #tableDanhSach tr td:nth-child(8) .btn-update{
  border: none;
  font-size: 13px;
  outline: none;
} */


#togglePassword {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  background: #EAEDF0;
  border: 1px solid #D0D6DC;
}